<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="pluto.dao.DogWeightMapper" >
  <resultMap id="BaseResultMap" type="pluto.entity.DogWeight" >
    <id column="digweightid" property="digweightid" jdbcType="INTEGER" />
    <result column="weight" property="weight" jdbcType="DOUBLE" />
    <result column="dogweightdiscount" property="dogweightdiscount" jdbcType="DOUBLE"/>
  </resultMap>


  <!-- /*查询所有狗狗重量*/
    public List<DogWeight> selectAllDogWeight();-->

  <select id="selectAllDogWeight" resultMap="BaseResultMap" >
    select * from tbl_dogweight
  </select>

  <!-- /*根据狗狗重量查询折扣*/
    public Double selectDiscountByDogWeight(Double maxdogweight, Double mindogweight);
-->
  <select id="selectDiscountByDogWeight" resultMap="BaseResultMap">
    select * from tbl_dogweight
    where tbl_dogweight.weight>=#{param1} and tbl_dogweight.weight &lt; #{param2}
  </select>
</mapper>