<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="pluto.dao.OrderMapper" >

  <resultMap id="BaseResultMap" type="Order" >
    <id column="orderid" property="orderid" />
    <result column="orderdate" property="orderdate"/>
    <result column="totalprice" property="totalprice" />
    <result column="orderstatus" property="orderstatus" />

    <association property="payway" javaType="PayWay">
      <id column="paywayid" property="paywayid"></id>
      <result column="paywayname" property="paywayname"></result>
    </association>

    <association property="user" javaType="User">
      <id column="userid" property="userid"></id>
      <result column="username" property="username"></result>
      <result column="password" property="password"></result>
      <result column="tel" property="tel"></result>
      <result column="userbalance" property="userbalance"></result>
    </association>

    <association property="userconsumption" javaType="UserConsumption">
      <id column="userconsumptionid" property="userconsumptionid"></id>
      <result column="consumptionamount" property="consumptionamount"></result>
    </association>

  </resultMap>

  <!--/*根据userid查询一个订单*/
    public Order selectOrderByUserId(Integer userid);-->
  <select id="selectOrderByUserId" resultMap="BaseResultMap" parameterType="Integer">
    select * from tbl_order where tbl_order.userid=#{_parameter}
  </select>

  <!-- /*根据userid查询所有用户的订单*/
    public List<Order> selectAllOrderByUserId(Integer userid);-->

  <select id="selectAllOrderByUserId" resultMap="BaseResultMap" parameterType="Integer">
    select *  from tbl_order where tbl_order.userid=#{param}
  </select>

</mapper>